.checkout_page {
    width: 80%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
}
.checkout_header {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
}
.header_block {
    text-transform: capitalize;
    width: 23%;
} 
 
.total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
}
  