


.id,.createAt, .quantity, .address {
    display: flex;
    justify-content: center;
}

.id {
    width: 20%;
}

.createAt {
    width: 20%;
    padding-left: 15%;
}


.products {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 20%;
} 


