.custom_input_div {
    position: relative;
}

.custom_input_div input {
    background: none;
    background-color: white;
    color: rgb(147, 147, 147);
    font-size: 2.6vmin;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgb(192, 191, 191);
    box-shadow: 1px 1px 1px rgb(171, 171, 171);
    margin: 2em 0;
    margin-top: 1em;
}

.custom_input_div label{
    position: relative;
    font-size: 2.5vmin;
}

