.store {
    display: flex;
    flex-direction: column;
    padding: 3em;
}
  
.title {
    font-size: 3vmin;
    margin: 1em;
}
  
.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}
  