.product {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    margin-top: 2em;
}
.image {
    cursor: pointer;
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
}
  
.footer {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: space-between;
    font-size: 2.8vmin;
    margin-bottom: 5vh;
}


.name {
    cursor: pointer;
    width: 90%;
    margin-bottom: 1em;
    text-decoration: none;
    color: black;
}

.name:hover {
    text-decoration: none;
}
  
.price {
    width: 10%;
}
