.ProductDetail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
    padding: 5em;
}
.image {
    cursor: pointer;
    width: 50%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.content {
    font-size: 3vmin;
    width: 45%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
}
  
.ButtonContainer {
    width: auto;
    height: auto;
    display: flex;
    margin-top: 5vh;
}


.name:hover {
    text-decoration: none;
}
  
.price {
    width: 10%;
}
